# git
.git/*

# vim
.*.swp

# backup files
*~
*.bak

# compiled
*.o
*.so
*.class

# compressed
*.rar
*.tar
*.zip

# log, db and history
*.log
.xchat2/scrollback/*
.dmenu_cache
.lesshst
.viminfo
.pulse-cookie
.bash_history
.zsh_history
*history
*cache.db
.cache/*
.ccache/*
*cache
.db

