# git
.git/*

# vim
.*.swp

# backup files
*~
*.bak

# compiled
*.o
*.so
*.class

# compressed
*.rar
*.tar
*.zip

# log, db and history
*.log
.xchat2/scrollback/*/*
.dmenu_cache
.bash_history
.zsh_history
*history
.lesshst
.viminfo
.pulse-cookie
*cache.db
.cache/*
.ccache/*

