[Desktop Entry]
Type=Application
Name=Web Browser
Comment=Surf the internet
Icon=/home/occam/pics/icons/opera.png
Exec=exo-open --launch WebBrowser
Path=/home/occam/Desktop
Terminal=false
StartupNotify=true

