
[Desktop Entry]
Type=Application
Name=godzilla flamewolf
Comment=std browse
Icon=firefox
Exec=firefox
Path=/home/occam/Desktop
Terminal=false
StartupNotify=true

