
[Desktop Entry]
Type=Application
Name=conkeror
Comment=browse with emacs keybinds
Icon=/home/occam/pics/diverse/icons/conkeror_icon64.png
Exec=conkeror
Path=/home/occam/Desktop
Terminal=false
StartupNotify=true

