[Desktop Entry]
Type=Application
Name=emacs
Comment=even makes coffee
Icon=applications-other
Exec=emacs -geometry 80x36
Path=/home/occam/doku
Terminal=false
StartupNotify=true

